
.icon-ok:before { content: '\e812'; } /* '' */
.icon-right-open-4:before { content: '\e81d'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-cancel-circled2:before { content: '\e807'; } /* '' */
.icon-logout:before { content: '\e81e'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-table:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e802'; } /* '' */
.icon-sort-alt-up:before { content: '\e800'; } /* '' */
.icon-sort-alt-down:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-cancel-1:before { content: '\e808'; } /* '' */
.icon-logout-3:before { content: '\e821'; } /* '' */
.icon-right-open-2:before { content: '\e81b'; } /* '' */
.icon-ok-1:before { content: '\e815'; } /* '' */
.icon-cancel-outline:before { content: '\e80a'; } /* '' */
.icon-ok-circled2:before { content: '\e814'; } /* '' */
.icon-right-open-1:before { content: '\e81a'; } /* '' */
.icon-ok-2:before { content: '\e816'; } /* '' */
.icon-ok-3:before { content: '\e817'; } /* '' */
.icon-grid:before { content: '\e803'; } /* '' */
.icon-cancel-3:before { content: '\e80b'; } /* '' */
.icon-cancel-circled-1:before { content: '\e80c'; } /* '' */
.icon-logout-1:before { content: '\e81f'; } /* '' */
.icon-ok-4:before { content: '\e818'; } /* '' */
.icon-cancel-4:before { content: '\e80d'; } /* '' */
.icon-cancel-circled-2:before { content: '\e80e'; } /* '' */
.icon-cancel-circled2-1:before { content: '\e80f'; } /* '' */
.icon-right-open-3:before { content: '\e81c'; } /* '' */
.icon-cancel-5:before { content: '\e810'; } /* '' */
.icon-cancel-circle:before { content: '\e811'; } /* '' */
.icon-logout-2:before { content: '\e820'; } /* '' */
.icon-cancel-2:before { content: '\e809'; } /* '' */